.v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover)
  .v-btn__content {
  opacity: 1 !important;
}

.f-18 {
  font-size: 18px !important;
  div {
    font-size: 18px !important;
  }
}
.f-12 {
  font-size: 12px !important;
  div {
    font-size: 12px !important;
  }
}

.fw-7 {
  font-weight: 700 !important;
}

.position-relative {
  position: relative;
}
